.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin-left: 95px;
  margin-top: 10vh;
}

.home-text h1 {
  margin: 0;
  margin-left: -2px;
  font-weight: 400;
  font-size: 72px;
  background: linear-gradient(
    265deg,
    rgba(158, 79, 79, 0.5) -50%,
    #ffffff 50%,
    rgba(72, 137, 151, 0.5) 300%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cool-adjective {
  font-weight: bold;
}

.home-text h2 {
  margin: 0;
  margin-left: 2px;
  font-weight: 400;
  font-size: 36px;
  background: linear-gradient(
    265deg,
    rgba(158, 79, 79, 0.5) 0%,
    #ffffff 50%,
    rgba(72, 137, 151, 0.5) 175%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  margin-left: 3px;
}

.line-seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.some-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 20rem;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.link-icon {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: linear-gradient(
    56.35deg,
    rgb(28, 92, 101) -90%,
    rgb(72, 73, 68) 55%,
    rgb(105, 29, 24) 185%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.link-icon svg {
  fill: rgba(225, 225, 225, 0.8);
  stroke: rgb(255, 255, 255, 0);
  transition: 0.2s;
}

.link-icon:hover {
  transform: scale(110%);
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.05);
}

.link-icon:hover svg {
  fill: rgba(225, 225, 225, 0);
  stroke-width: 1px;
  stroke: rgb(225, 225, 225, 0.8);
}

.status-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  margin-top: 10vh;
}

.resume-button {
  margin-top: 7vh;
}
