.aboutme-container {
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
}

.aboutme-container h1 {
  font-size: 48px;
  font-weight: 400;
  /* color: rgb(140, 214, 214); */
  background: linear-gradient(
    265deg,
    rgba(158, 79, 79, 0.5) -75%,
    #ffffff 50%,
    rgba(72, 137, 151, 0.5) 300%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  width: fit-content;
}

.aboutme-text-section {
  width: 45%;
  margin-right: 25px;
}

.aboutme-text-section p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    265deg,
    rgba(158, 79, 79, 0.7) -150%,
    #ffffff 50%,
    rgba(72, 137, 151, 0.7) 250%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.get-in-touch {
  cursor: pointer;
  color: rgb(140, 214, 214);
  text-decoration: none;
  font-size: 20px;
}

.aboutme-skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-skills-section h2 {
  margin: 0;
  font-size: 28px;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-category {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.skills-grid {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  max-width: 1100px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 15px;
  /* Add this on media query */
  width: 125px;
  min-height: 155px;
}

.skill-icon {
  height: 50px;
  width: 50px;
  padding: 15px;
  background-color: rgb(65, 65, 65);
  background: linear-gradient(
    56.35deg,
    rgb(28, 92, 101) -90%,
    rgb(72, 73, 68) 55%,
    rgb(105, 29, 24) 185%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.skill-name {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(209, 209, 209);
  font-size: 20px;
  margin: 15px 0px 10px 0px;
  text-align: center;
}

.skill p {
  color: rgb(175, 175, 175);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  line-height: 20px;
}

.skills-cycle-button {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.skills-cycle-button:hover {
  transform: scale(120%);
}

.skills-cycle-button:hover .skills-cycle-arrow {
  border-color: rgb(145, 167, 173);
}

.skills-cycle-arrow {
  height: 10px;
  width: 10px;
  border: solid rgb(101, 107, 109);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.1s;
}

.skills-arrow-right {
  transform: rotate(-45deg);
}

.skills-arrow-left {
  transform: rotate(135deg);
}

.category-dots-container {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

.category-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.active-category-dot {
  background-color: rgba(255, 255, 255, 0.75);
}
