.aboutme-container {
  width: 100%;
  margin-left: 145px;
  margin-right: 15px;
}
@media only screen and (max-width: 1000px) {
  .aboutme-container {
    margin-left: 125px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .aboutme-container {
    margin: 0 25px;
  }
}
.aboutme-container h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  background: linear-gradient(265deg, rgba(158, 79, 79, 0.5) -75%, #ffffff 50%, rgba(72, 137, 151, 0.5) 300%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 2200px) {
  .aboutme-container h1 {
    font-size: 54px;
  }
}
@media only screen and (max-width: 1600px) {
  .aboutme-container h1 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 1200px) {
  .aboutme-container h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutme-container h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 420px) {
  .aboutme-container h1 {
    font-size: 32px;
  }
}
.aboutme-container__content {
  display: flex;
  justify-content: center;
  margin: 75px 0;
}
@media only screen and (max-width: 1000px) {
  .aboutme-container__content {
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }
}
.aboutme-container__text {
  width: 45%;
  margin-right: 25px;
}
@media only screen and (min-width: 2200px) {
  .aboutme-container__text {
    width: 40%;
    margin-right: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutme-container__text {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .aboutme-container__text {
    margin-right: 0;
  }
}
.aboutme-container__text p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 400;
  background: linear-gradient(265deg, rgba(158, 79, 79, 0.7) -150%, #ffffff 50%, rgba(72, 137, 151, 0.7) 250%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 2200px) {
  .aboutme-container__text p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1600px) {
  .aboutme-container__text p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .aboutme-container__text p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutme-container__text p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .aboutme-container__text p {
    font-size: 16px;
  }
}
.aboutme-container__get-in-touch {
  position: relative;
  color: rgb(140, 214, 214);
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 2200px) {
  .aboutme-container__get-in-touch {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1600px) {
  .aboutme-container__get-in-touch {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .aboutme-container__get-in-touch {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutme-container__get-in-touch {
    font-size: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .aboutme-container__get-in-touch {
    font-size: 16px;
  }
}
.aboutme-container__get-in-touch:hover .aboutme-container__get-in-touch-focus {
  width: 100%;
}
.aboutme-container__get-in-touch-focus {
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid rgb(125, 171, 190);
  transition: 0.5s;
}/*# sourceMappingURL=styles.css.map */