.nav-button {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 150px;
  text-decoration: none;
  color: white;
  z-index: 10;
}

.nav-up {
  width: 100%;
  flex-direction: column-reverse;
  top: 0;
}

.nav-down {
  width: 100%;
  flex-direction: column;
  bottom: 0;
}

.nav-left {
  flex-direction: row-reverse;
  left: 0;
  margin-left: 1rem;
}

.nav-right {
  margin-right: 1rem;
  right: 0;
}

.nav-arrow {
  width: 3px;
  height: 3px;
  border: solid #919191;
  border-width: 0 3px 3px 0;
  border-radius: 10%;
  padding: 20px;
  transition: 0.1s;
}

.nav-up .nav-arrow {
  transform: rotate(-135deg);
  margin-bottom: -1.5rem;
}

.nav-left .nav-arrow {
  transform: rotate(135deg);
  margin-right: -1.5rem;
}

.nav-down .nav-arrow {
  transform: rotate(45deg);
  margin-top: -1.5rem;
}

.nav-right .nav-arrow {
  transform: rotate(-45deg);
  margin-left: -1.5rem;
}

.nav-left,
.nav-right {
  justify-content: flex-end;
  position: fixed;
  top: 45vh;
  bottom: 50vh;
  align-self: flex-start;
}

.label {
  font-size: 18px;
  transition: 0.1s;
  font-weight: 300;
}

.nav-button:hover .label {
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
  font-size: 20px;
}

.nav-button:hover .nav-arrow {
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.25);
  width: 8px;
  height: 8px;
}

.arrow-fade-in {
  animation: arrow-fade-in 0.3s forwards;
}
.arrow-fade-out {
  animation: arrow-fade-out 0.3s forwards;
}

@keyframes arrow-fade-in {
  0% {
    filter: blur(4px);
    opacity: 0%;
  }
  100% {
    filter: blur(0px);
    opacity: 100%;
  }
}

@keyframes arrow-fade-out {
  0% {
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
  }
}
