.nav-button {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 175px;
  height: 100px;
  text-decoration: none;
  color: white;
  z-index: 10;
}

.nav-up {
  width: 100%;
  flex-direction: column-reverse;
  top: 0rem;
  padding-top: 1rem;
}

.nav-down {
  width: 100%;
  flex-direction: column;
  bottom: 0;
  padding-bottom: 1rem;
}

.nav-left {
  flex-direction: row-reverse;
  left: 0;
  padding-left: 0.5rem;
}

.nav-right {
  right: 0;
  padding-right: 0.5rem;
}

.nav-left,
.nav-right {
  justify-content: flex-end;
  position: fixed;
  top: 45vh;
  bottom: 50vh;
  align-self: flex-start;
}

.label {
  font-size: 18px;
  transition: 0.3s;
  font-weight: 300;
}

.nav-arrow {
  transform: scale(125%);
}

.arrow-svg {
  transition: 0.3s;
  height: 25px;
  width: 50px;
}

.arrow-poly {
  stroke: #919191;
  stroke-width: 2;
}

.arrow-svg-fill {
  position: absolute;
  right: 0;
  stroke: rgb(125, 171, 190);
  stroke-width: 2;
  height: 0px;
  width: 50px;
  transition: 0.3s;
}

.nav-up .nav-arrow {
  margin-bottom: -0.5rem;
}

.nav-down .nav-arrow {
  transform: rotate(180deg);
  margin-top: -0.5rem;
}

.nav-left .nav-arrow {
  transform: rotate(270deg);
  margin-right: -0.5rem;
}

.nav-right .nav-arrow {
  transform: rotate(90deg);
  margin-left: -0.5rem;
}

.nav-button:hover .label {
  text-shadow: 0px 4px 6px rgb(0, 0, 0);
  font-size: 20px;
}

.nav-button:hover .arrow-svg {
  transform: scale(110%);
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0));
}

.nav-button:hover .arrow-svg-fill {
  transform: scale(110%);
  height: 25px;
}

.arrow-fade-in {
  animation: arrow-fade-in 0.3s forwards;
}
.arrow-fade-out {
  animation: arrow-fade-out 0.3s forwards;
}

@keyframes arrow-fade-in {
  0% {
    filter: blur(4px);
    opacity: 0%;
  }
  100% {
    filter: blur(0px);
    opacity: 100%;
  }
}

@keyframes arrow-fade-out {
  0% {
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
  }
}
