.nav-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
}

.nav-button:hover {
  background-color: rgb(0, 68, 255);
}

.nav-up {
  flex-direction: column-reverse;
}

.nav-down {
  flex-direction: column;
}

.nav-left {
  flex-direction: row-reverse;
  margin-left: 1rem;
}

.nav-right {
  margin-right: 1rem;
}

.nav-arrow {
  width: 3px;
  height: 3px;
  border: solid #919191;
  border-width: 0 10px 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
  padding: 20px;
}

.nav-up .nav-arrow {
  transform: rotate(-135deg);
  margin-bottom: -0.5rem;
}

.nav-left .nav-arrow {
  transform: rotate(135deg);
  margin-right: -1rem;
}

.nav-down .nav-arrow {
  transform: rotate(45deg);
  margin-top: -0.5rem;
}

.nav-right .nav-arrow {
  transform: rotate(-45deg);
  margin-left: -1rem;
}

.nav-left,
.nav-right {
  position: sticky;
  top: 45vh;
  bottom: 50vh;
}

.label {
  font-size: 18px;
}
