.envelope-container {
  display: none;
  position: absolute;
  width: 600px;
  height: 280px;
  opacity: 0;
  overflow: hidden;
  z-index: 10;

  polyline {
    fill: #c2c3c2;
    stroke: #242424;
    stroke-width: 2px;
  }

  @media #{$mq-xxl} {
    width: 800px;
    height: 380px;
  }

  @media #{$mq-xl} {
    width: 500px;
    height: 270px;
  }

  @media #{$mq-s} {
    width: 100%;
  }
  @media #{$mq-xs} {
    height: 320px;
  }
}

.envelope {
  &-top {
    position: absolute;
    height: 100%;
    top: -380px;
    left: 50%;
    transform: translateX(-50%);
  }
  &-bottom {
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
  }
  &-left {
    position: absolute;
    width: 100%;
    top: 50%;
    left: -900px;
    transform: translate(0%, -50%);
  }
  &-right {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 600px;
    transform: translate(50%, -50%);
  }
}

.animate-envelope {
  display: inline;
  animation: animate-envelope 1.5s;

  &-top {
    animation: animate-envelope-top 0.75s forwards;
  }
  &-bottom {
    animation: animate-envelope-bottom 0.75s forwards;
  }
  &-left {
    animation: animate-envelope-left 0.75s forwards;
  }
  &-right {
    animation: animate-envelope-right 0.75s forwards;
  }
}

@keyframes animate-envelope {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-125%);
  }
}

@keyframes animate-envelope-top {
  0% {
    top: -380px;
  }
  100% {
    top: -190px;
  }
}

@keyframes animate-envelope-bottom {
  0% {
    bottom: 100px;
  }
  100% {
    bottom: 290px;
  }
}

@keyframes animate-envelope-left {
  0% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(50%, -50%);
  }
}

@keyframes animate-envelope-right {
  0% {
    right: 600px;
  }
  100% {
    right: 900px;
  }
}

@media #{$mq-xxl} {
  @keyframes animate-envelope-top {
    0% {
      top: -380px;
    }
    100% {
      top: -125px;
    }
  }

  @keyframes animate-envelope-bottom {
    0% {
      top: 0px;
    }
    100% {
      top: -255px;
    }
  }
}

@media #{$mq-xl} {
  @keyframes animate-envelope-top {
    0% {
      top: -380px;
    }
    100% {
      top: -220px;
    }
  }

  @keyframes animate-envelope-bottom {
    0% {
      bottom: 100px;
    }
    100% {
      bottom: 270px;
    }
  }
}

@media #{$mq-s} {
  @keyframes animate-envelope-top {
    0% {
      top: -380px;
    }
    100% {
      top: -170px;
    }
  }

  @keyframes animate-envelope-bottom {
    0% {
      bottom: 50px;
    }
    100% {
      bottom: 270px;
    }
  }
}
