:root {
  --transition-speed: 0.75s;
}

.transition-left {
  animation: slide-right var(--transition-speed) forwards;
  transform: translateX(0%);
  transform: translateY(0%);
  filter: blur(0px);
  opacity: 100%;
}

.transition-right {
  animation: slide-left var(--transition-speed) forwards;
  transform: translateX(0%);
  transform: translateY(0%);
  filter: blur(0px);
  opacity: 100%;
}

.transition-up {
  animation: slide-down var(--transition-speed) forwards;
  transform: translateX(0%);
  transform: translateY(0%);
  filter: blur(0px);
  opacity: 100%;
}

.transition-down {
  animation: slide-up var(--transition-speed) forwards;
  transform: translateX(0%);
  transform: translateY(0%);
  filter: blur(0px);
  opacity: 100%;
}

@keyframes slide-left {
  5% {
    transform: translateX(0%);
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  5% {
    transform: translateX(0%);
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
    transform: translateX(100%);
  }
}

@keyframes slide-up {
  5% {
    transform: translateY(0%);
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  5% {
    transform: translateY(0%);
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
    transform: translateY(100%);
  }
}

.fade-in {
  animation: fade-in 1s forwards;
}
.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-in {
  0% {
    filter: blur(4px);
    opacity: 0%;
  }
  100% {
    filter: blur(0px);
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    filter: blur(4px);
    opacity: 0%;
  }
}
