// Media Query Sizes
$mq-xs: '(max-width: 420px)';
$mq-s: '(max-width: 640px)';
$mq-md: '(max-width: 768px)';
$mq-lg: '(max-width: 1024px)';
$mq-xl: '(max-width: 1280px)';
$mq-xxl: '(min-width: 1824px)';
//
